/* general css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 0, 39);
} */

.carousel {
  position: relative;
  background-color: rgb(15, 0, 39);
  width: 100%;
  height: calc(100vh - 108px);
  /* margin: 20px; */
  overflow: hidden;
  /* border-radius: 10px; */
}

/* css for slide images */
.carousel .slide{
  position: absolute;
  width: 100vw;
  height: calc(100vh - 108px);
  clip-path: circle(0% at 0 50%);
}

.carousel .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s;
}

.carousel .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css for buttons */
.navigation {
  height: calc(100vh - 108px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev, .next {
  z-index: 2;
  font-size: 10rem;
  color: rgba(255, 255, 255, .5);
  background-color: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* css for slide icons */
.slide-icons {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.slide-icons .icon {
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.slide-icons .icon.active {
  background: #ef007e;
}