* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* css for navbar */
.navbar {
    font-family: 'Abel';
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 0, 39);
    color: white;
    width: 100%;
    z-index: 999;
}

/* css for logo */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    margin: .5rem;
    color: rgb(239, 0, 126);
}

.logo img {
    height: 108px;
    object-fit: fill;
}

/* css for links */
.navbar-links {
    height: 100%;
}

/* Note: Flex direction is rows by default. This means items will be placed one after the other
         in the horizontally*/
.navbar .navbar-links ul {
    list-style: none;
}

.navbar .navbar-links ul li {
    position: relative;
    float: left;
    font-size: 4rem;
}

.navbar .navbar-links ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar .navbar-links ul li:hover {
    background-color: #555;
}

/* css for nested tabs */
.navbar .navbar-links ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(25, 0, 63);
    display: none;
}

.navbar .navbar-links ul li ul li {
    width: 100%;
    border-top: 1px solid #ef007e;
}

/* .navbar .navbar-links ul li ul li ul {
    left: 200px;
    top: 0;
} */

.navbar .navbar-links ul li:focus-within > ul,
.navbar .navbar-links ul li:hover > ul {
    display: initial;
}

/* css for hamburger menu */
/* Note: "display: none" makes this hidden until the media max width is reached */
.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 50px;
}

.toggle-button .bar {
    height: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* - Will display hamburger drop down menu when a breakpoint is reached 
   - This code will only apply after the condition of max-width <= ____ px is true
   - Changes the flex direction to column! This means when items are placed
                on top of each other
   */
@media (max-width: 1712px) {
    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .navbar .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar .navbar-links ul li {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .navbar .navbar-links ul li ul {
        position: relative;
        width: 100%;
    }

    .navbar .navbar-links ul li ul li {
        background: rgb(25, 0, 63);
    }

    .navbar .navbar-links ul li ul li ul {
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

}