* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* css for navbar */
.navbar {
    font-family: 'Abel';
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 0, 39);
    color: white;
    width: 100%;
}

/* css for logo */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    margin: .5rem;
    color: rgb(239, 0, 126);
}

.logo img {
    height: 108px;
    object-fit: fill;
}

/* css for links */
.navbar-links {
    height: 100%;
}

/* Note: Flex direction is rows by default. This means items will be placed one after the other
         in the horizontally*/
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size: 4rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

/* css for hamburger menu */
/* Note: "display: none" makes this hidden until the media max width is reached */
.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 50px;
}

.toggle-button .bar {
    height: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Will display hamburger drop down menu when a breakpoint is reached 
   This code will only apply after the condition of max-width <= ____ px is true*/
@media (max-width: 1712px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    /* hides the navbar links until they become "active" */
    .navbar-links {
        display: none;
        width: 100%;
    }

    /* Note: - Changes the flex direction to column! This means when items are placed
                on top of each other
             - The links are still hidden because of the display: none property
             */
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    /* When the hamburger menu is clicked, the navbar-links become "active" and you can see them */
    .navbar-links.active {
        display: flex;
    }
}