* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

header {
    font-family: Abel;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: rgb(15, 0, 39);
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: bolder;
    margin: .5rem;
    color: rgb(239, 0, 126);
}

header .logo img {
    height: 108px;
    object-fit: fill;
}

header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 3rem;
    padding: 20px;
    color: white;
    display: block;
}

header .navbar ul li a:hover {
    background: rgb(25, 0, 63);
    color: #ef0073;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(15, 0, 39);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:hover > ul {
    display: initial;
}

/* css for hamburger menu */
/* Note: "display: none" makes this hidden until the media max width is reached */
.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 50px;
}

.toggle-button .bar {
    height: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* - Will display hamburger drop down menu when a breakpoint is reached 
   - This code will only apply after the condition of max-width <= ____ px is true
   - Changes the flex direction to column! This means when items are placed
                on top of each other
   */
@media (max-width: 1712px) {
    header {
        padding: 20px;
    }

    .toggle-button {
        display: flex;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(15, 0, 39);
        border-top: 1px solid #ef0073;
        display: none;
    }

    header .navbar ul li {
        text-align: center;
        padding: .5rem 1rem;
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: rgb(15, 0, 39);
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    .navbar.active {
        display: initial;
    }
}