:root {
  --brand-magenta: #ef007e;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../media/bg-hollow-bottom-right.png");
  width: 100%;
  height: 100%;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-color: #0f0027;
  background-position: bottom;
}

@media (max-width: 1712px) {
  body {
    overflow-y: auto;
    background-image: none;
    background-color: #0f0027;
  }
}

.playlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99vw;
  height: 95vh;
  margin-top: 80px;
  justify-content: left;
  column-gap: 100px;
}

.playlist {
  margin: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: 200px;
  border: 2px solid black;
}

.overlay {
  padding: 25px;
  margin-top: -1px;
  margin-left: -1px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  transition: all 500ms ease-out 100ms;
  opacity: 0;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.btn-container {
  position: relative;
  height: 100px;
  width: 195px;
  padding: 25px;
  border-radius: 30px;
  margin-left: -25px;
  justify-content: center;
}

.btn-success {
  position: absolute;
  bottom: 40px;
  right: 27%;
}

.btn-home {
  position: relative;
  height: 40px;
  width: 200px;
  top: 20px;
  left: 20px;
  background-color: var(--brand-magenta);
}
