<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./stylesheets/navbar.css" />
        <link rel="stylesheet" href="./stylesheets/carousel.css" />
        <link rel="stylesheet" href="./stylesheets/modal.css" />
        <script src="scripts/carousel.js" defer></script>
        <script src="scripts/navbar.js" defer></script>
        <script src="scripts/modal.js" defer></script>
        <title>PERSONGIFY - Home</title>
    </head>
    <body>
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="./media/note.png" alt="Music Note">
                PERSONGIFY
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="#">Commute</a></li>
                            <li><a href="#">Year in Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                <% if (!locals.signedIn) { %>
                    <li><a href="/newUser">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                <% } else { %>
                    <li><a href="#">Hello <%= locals.username %></a>
                      <ul>
                          <li><a href="/account">Account Info</a></li>
                          <li><a href="/playlists">Saved Playlist</a></li>
                          <li><a href="/logout">Log Out</a></li>
                      </ul>
                    </li>
                <% } %>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end -->

        <!-- Modal popup for webpage information -->
        <% if (!locals.signedIn) { %>
        <div class="modal-wrapper" id="modal-wrapper">
            <div class="modal">
            <span class="close-button" onclick="hideModal()">&times;</span>
            <h1>Welcome to Persongify!</h1>
            <br>
            <p>Welcome, and thank you for using Persongify! To get started you can log in or sign up!</p>
            <br>
            <p>This app is currently using Spotify's API in development mode.
                This means that unless you have access from the developers, you are unable to access our website's full functionality with your own spotify account.
            </p>
            <br>
            <p>
                For demo purposes, please feel free to use our spotify demo account:
            </p>
            <p>
                Spotify email: persongify276@gmail.com
                <br>
                Spotify password: persongify
            </p>
            </div>
        </div>
        <% } %>

        <!-- CAROUSEL start -->
        <div class="carousel">
            <!-- SLIDES start -->
            <div class="slide active">
                <!-- TODO: add text into div elements rather than have them be part of the image -->
                <img src="./media/title.png" alt="Title" />
            </div>
            <div class="slide">
                <img src="./media/why-persongify.png" alt="Why Persongify" />
            </div>
            <div class="slide">
                <img src="./media/personalized.png" alt="Personalized Playlists" />
            </div>
            <div class="slide">
                <img src="./media/commute.png" alt="Perfect for your Commute" />
            </div>
            <div class="slide">
                <img src="./media/year-in-review.png" alt="Year in Review" />
            </div>
            <div class="slide">
                <img src="./media/get-started.png" alt="Getting Started" />
            </div>
            <!-- SLIDES end -->
            <!-- BUTTONS start -->
            <div class="navigation">
                <div class="carousel-button prev">&#10094;</div>
                <div class="carousel-button next">&#10095;</div>
            </div>
            <!-- BUTTONS end -->
            <!-- SLIDE ICONS start -->
            <div class="slide-icons">
                <div class="icon active"></div>
                <div class="icon"></div>
                <div class="icon"></div>
                <div class="icon"></div>
                <div class="icon"></div>
                <div class="icon"></div>
            </div>
            <!-- SLIDE ICONS end -->
        </div>
        <!-- CAROUSEL end -->
    </body>
</html>
