<!DOCTYPE html>
<html>
    <head>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link rel="stylesheet" href="stylesheets/review.css" />
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script src="scripts/navbar.js" defer></script>
        <script src="scripts/review.js" defer></script>
        
        <title>PERSONGIFY - Year In Review</title>
    </head>
    <body>
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="./media/note.png" alt="Music Note">
                PERSONGIFY
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="/new-distance-playlist">Commute</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                <% if (!locals.signedIn) { %>
                    <li><a href="/newUser">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/review">Year In Review</a></li>
                <% } else { %>
                    <li><a href="/account">Hello, <%= locals.username %></a>
                        <ul>
                            <li><a href="/account">Account Info</a></li>
                            <li><a href="/playlists">Saved Playlist</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end -->
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>  
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="top-artists">
            <h2>My Top Artists</h2>
            <div id="top-artist-1">Artist #1</div>
            <div id="top-artist-2">Artist #2</div>
            <div id="top-artist-3">Artist #3</div>
            <div id="top-artist-4">Artist #4</div>
            <div id="top-artist-5">Artist #5</div>
        </div>
        <div class="top-tracks">
            <h2>My Top Tracks</h2>
            <div id="top-tracks-1">Track #1</div>
            <div id="top-tracks-2">Track #2</div>
            <div id="top-tracks-3">Track #3</div>
            <div id="top-tracks-4">Track #4</div>
            <div id="top-tracks-5">Track #5</div>
        </div>
        <div class="gen-playlist">
            <label for="playlist-name">Playlist Name</label>
            <input type="text" id="playlist-name" class="playlist-text">
            <div id="playlist-status-msg" class="playlist-status"></div>
            <br>
            <button onclick="createPlaylist()" class="btn btn-success" id="p-button">Save Playlist</button>

        </div>
    
        <!-- CAROUSEL start -->
        <div class="carousel">
            <!-- SLIDES start -->
            <div class="slide active">
                <img src="./media/bg1.png" alt="Background">
                <div class="info">
                    <h2>Persongify Presents</h2>
                    <p>Year In Review</p>
                </div>
            </div>
            <div class="slide">
                <img src="./media/pink.png" alt="Background">
                <div class="info">
                    <h2>My Top Artist</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto numquam dolorum autem! Debitis fugiat sequi similique placeat fugit hic nesciunt veritatis provident nulla? Quia quisquam, perspiciatis fugiat excepturi nam necessitatibus?</p>
                </div>
            </div>
            <div class="slide">
                <img src="./media/white.png" alt="Background">
                <div class="info">
                    <h2>My Top Song</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero possimus nobis quod inventore ipsam magnam dolores nostrum reiciendis maiores voluptates. Maiores corporis molestiae, quaerat nemo officia fugit earum accusantium recusandae!</p>
                </div>
            </div>
            <div class="slide">
                <img src="./media/pink.png" alt="Background">
                <div class="info">
                    <h2>Top Artists</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium odit totam quis impedit eaque nulla laborum alias quas iste nisi dolor provident, tempore commodi eveniet voluptatum, quaerat excepturi suscipit?</p>
                    <h2>Top Tracks</h2>
                </div>
            </div>
            <div class="slide">
                <img src="./media/bg-hollow.png" alt="Background">
                <div class="info">
                    <h2>Create Playlist</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo, dignissimos neque doloribus vero in aliquid, nesciunt cumque iure dicta velit atque eligendi, quam et fugiat incidunt consectetur maxime mollitia.</p>
                </div>
            </div>
            <!-- SLIDES end -->
        </div>
        <!-- CAROUSEL end -->
    </body>
</html>
