<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./stylesheets/navbar.css" />
        <script src="scripts/navbar.js" defer></script>
        <script src="./scripts/review.js" defer></script>
        <title>PERSONGIFY - Year In Review</title>
    </head>
    <body>
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="./media/note.png" alt="Music Note">
                PERSONGIFY
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="/new-distance-playlist">Commute</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                <% if (!locals.signedIn) { %>
                    <li><a href="/newUser">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/review">Year In Review</a></li>
                <% } else { %>
                    <li><a href="/account">Hello, <%= locals.username %></a>
                        <ul>
                            <li><a href="/account">Account Info</a></li>
                            <li><a href="/playlists">Saved Playlist</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="top-artists">
            <h2>My Top Artists</h2>
            <div id="top-artist-1">Artist #1</div>
            <div id="top-artist-2">Artist #2</div>
            <div id="top-artist-3">Artist #3</div>
            <div id="top-artist-4">Artist #4</div>
            <div id="top-artist-5">Artist #5</div>
        </div>
        <div class="top-tracks">
            <h2>My Top Tracks</h2>
            <div id="top-tracks-1">Track #1</div>
            <div id="top-tracks-2">Track #2</div>
            <div id="top-tracks-3">Track #3</div>
            <div id="top-tracks-4">Track #4</div>
            <div id="top-tracks-5">Track #5</div>
        </div>
        <div id="test">
            Replace Me!
        </div>
    
    </body>
</html>
