<!DOCTYPE html>
<html>
    <head>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link rel="stylesheet" href="stylesheets/review.css" />
        <link rel="stylesheet" href="./stylesheets/modal.css" />
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script src="scripts/navbar.js" defer></script>
        <script src="scripts/review.js" defer></script>
        <script src="scripts/modal.js" defer></script>
        
        <title>PERSONGIFY - Year In Review</title>
    </head>
    <body>
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="./media/note.png" alt="Music Note">
                PERSONGIFY
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="/new-distance-playlist">Commute</a></li>
                            <li><a href="/review">Year In Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                <% if (!locals.signedIn) { %>
                    <li><a href="/newUser">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                <% } else { %>
                    <li><a href="/account">Hello, <%= locals.username %></a>
                        <ul>
                            <li><a href="/account">Account Info</a></li>
                            <li><a href="/playlists">Saved Playlist</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end --> 
        <!-- <br>  
        <br>  
        <br>  
        <br>  
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> -->
        <div class="modal-wrapper" id="modal-wrapper">
            <div class="modal">
                <span class="close-button" onclick="hideModal()">&times;</span>
                <h1>Year In Review</h1>
                <br>
                <p>Welcome, and thank you for using Persongify's Year In Review Feature!</p>
                <br>
                <p>This feature will summarize your listening history in the past year.
                    We'll show you your top artists, tracks, and provide a mechanism for creating
                    creating a playlist and sharing it to social media!
                </p>
                <br>
                <p>The infographics will be displyaed automatically, however hovering over them will
                    pause the presentation.
                </p>
                <br>
                <p>
                    Unfortunately, if you are using a new account, the Spotify API does not have
                    enough data and this feature will not work. Please try again in the
                    near future. 
                </p>
                <br>
                <p>Thanks,</p>
                <br>
                <p>Persongify Dev Team</p>
            </div>
        </div>
        <!-- CAROUSEL start -->
        <div class="carousel">
            <!-- SLIDES start -->
            <div class="slide active" id="Start">
                <img src="./media/bg4.png" alt="Background">
                <div class="info">
                    <h2>Persongify Presents</h2>
                    <h1>YEAR IN REVIEW</h1>
                </div>
            </div>
            <div class="slide">
                <img src="./media/bg1.png" alt="Background" id="My-Top-Artist">
                <div class="info">
                    <h2>My Top Artist</h2>
                    <br>
                    <div class="artist-img"></div>
                    <br>
                    <div class="text-bolder">
                        <div class="top-artist-1">- - -</div>
                    </div>
                    <br>
                    <div class="text">
                        Most Played Song: 
                        <div class="most-played">- - -</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="./media/bg1.png" alt="Background" id="My-Top-Songs">
                <div class="info">
                    <h2>My Top Song</h2>
                    <br>
                    <div class="album-img"></div>
                    <br>
                    <div class="text-bolder">
                        <div class="top-tracks-1">- - -</div>
                    </div>
                    <br>
                    <div class="text">
                        <div class="top-track-artist">By: - - -</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="./media/bg1.png" alt="Background" id="Summary">
                <div class="info">
                    <br>
                    <div class="artist-img"></div>
                    <br>
                    <div class="flex-wrapper">
                        <div class="column">
                            <h2>Top Artists</h2>
                            <div class="text">
                                <div class="top-artist-1">1.</div>
                                <div class="top-artist-2">2.</div>
                                <div class="top-artist-3">3.</div>
                                <div class="top-artist-4">4.</div>
                                <div class="top-artist-5">5.</div>
                            </div>
                        </div>
                        <div class="column">
                            <h2>Top Tracks</h2>
                            <div class="text">
                                <div class="top-tracks-1">1.</div>
                                <div class="top-tracks-2">2.</div>
                                <div class="top-tracks-3">3.</div>
                                <div class="top-tracks-4">4.</div>
                                <div class="top-tracks-5">5.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="./media/bg4.png" alt="Background" id="Create-Playlist">
                <div class="info">
                    <h2>Create Playlist</h2>
                    <div class="gen-playlist">
                        <label for="playlist-name">Playlist Name</label>
                        <input type="text" id="playlist-name" class="playlist-text">
                        <div id="playlist-status-msg" class="playlist-status"></div>
                        <br>
                        <button onclick="createPlaylist()" class="btn btn-success" id="p-button">Save Playlist</button>
                    </div>
                </div>
            </div>
            <!-- SLIDES end -->
        </div>
        <!-- CAROUSEL end -->
    </body>
</html>
