<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/bs5.ejs") %>
        <%- include ("../partials/google-fonts.ejs") %>

        <style>
            :root {
                --nav-height: 72px;
                --car-height: calc(100vh - var(--nav-height));
            }
            #brandName {
                color: #EF007E;
            }
            #loginBtn {
                background-color: #EF007E;
            }

            .carousel img {
                width: 100% !important;
                height: var(--car-height, 92.5vh) !important;
            }
        </style>
    </head>
    <body>

        <!-- NAVBAR -->
        <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark py-3">
            <div class="container-fluid">
                <a id="brandName" class="navbar-brand ms-3" href="#">Persongify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapsible" class="collapse navbar-collapse d-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item me-3">
                            <form action="/newUser" method="get">
                                <button class="btn btn-light" type="submit">Sign Up</a>
                            </form>
                        </li>
                        <li class="nav-item me-3">
                            <form action="/login" method="get">
                                <button id="loginBtn" class="btn" type="submit">Log In</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- CAROUSEL -->
        <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
              </div>
            <div class="carousel-inner">
            	<div class="carousel-item active">
                    <img src="media/img1.png" class="d-block w-100" alt="Title">
                </div>
                <div class="carousel-item">
                    <img src="media/img2.png" class="d-block w-100" alt="Why Persongify">
                </div>
                <div class="carousel-item">
                    <img src="media/img3.png" class="d-block w-100" alt="Personalized Playlists">
                </div>
				<div class="carousel-item">
                    <img src="media/img4.png" class="d-block w-100" alt="Commute">
                </div>
				<div class="carousel-item">
                    <img src="media/img5.png" class="d-block w-100" alt="Year in Review">
                </div>
				<div class="carousel-item">
                    <img src="media/img6.png" class="d-block w-100" alt="Getting Started">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            	<span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </body>
</html>