<!DOCTYPE html>
<html>
    <head>
        <title>PERSONGIFY - Log In</title>

        <%- include ("../partials/bs5.ejs") %>
        <%- include ("../partials/bs5-override.ejs") %>
        <%- include ("../partials/google-fonts.ejs") %>
        <%- include ("../partials/google-icons.ejs") %>

        <link rel="stylesheet" href="./stylesheets/navbar.css" />
        <script src="scripts/navbar.js" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

    </head>
    <body>
    <!-- navbar start -->
    <header>
        <!-- logo start -->
        <div class="logo">
            <img src="./media/note.png" alt="Music Note">
            PERSONGIFY
        </div>
        <!-- logo end -->
        <!-- hamburger menu start -->
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <!-- hamburger menu end -->
        <!-- links start here -->
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/newUser">Create an Account!</a></li>
            </ul>
        </nav>
        <!-- links ends here -->
      </header>
      <!-- navbar ends -->
        <!-- HEADINGS -->
        <!-- TODO: these are still here and are just hidden by navbar, delete upon approval of group -->
        <div class="container-fluid mx-3 my-4 float-start">
            <form action="/" method="get" class="form-inline">
                <button type="submit" id="nav-home"
                    class="btn btn-outline-dark border-noset">
                    <span class="material-symbols-outlined align-text-top">
                        chevron_left
                    </span>
                    Back to PERSONGIFY Home
                </button>
            </form>
            <form action="/newUser" method="get" class="form-inline">
                <button type="submit" id="nav-newUser"
                    class="btn btn-outline-dark border-noset">
                    Not a PERSONGIFY user? Create an Account!
                </button>
            </form>
        </div>
        <div class="container text-center mb-3 clearfix">
            <h1 class="display-1 text-uppercase text-white">Log in to <span class="span-magenta">PERSONGIFY</span></h1>
        </div>

        <!-- LOGIN FORM -->
        <div class="container w-50 p-3">
            <form action="/verify-login" method="post">
                <!-- username -->
                <div class="form-floating flex-grow-1">
                    <input type="text" id="uname" name="f_uname" 
                    class="form-control radius-top" placeholder="Username"
                    required>
                    <label for="firstName">Username</label>
                </div>
                <!-- password -->
                <div class="form-floating flex-grow-1">
                    <input type="password" id="pwd" name="f_pwd"
                    class="form-control radius-bottom" placeholder="Password"
                    required>
                    <label for="age">Password</label>
                </div>
                <!-- form buttons -->
                <div class="d-grid gap-3 mt-3">
                    <button type="submit" value="Submit" id="formSubmit"
                    class="btn btn-outline-dark btn-lg btn-block border-noset">Log In</button>
                </div>
            </form>
        </div>
    </body>
</html>